<h6>Dashboard</h6>
<h3>{{name}} and His Bourbon</h3>
<p>Stories of Bourbon</p>

{{#if stories}}
<table class="striped">
    <thread>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thread>
    <tbody>
        {{#each stories}}
        <Tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float"><i class="fas fa-edit"></i></a>
                <form action= "/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </Tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <p>you have not created any stories</p>
{{/if}}